@import url('https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Playfair+Display:400,700');
@font-face{ 
	font-family: 'metropolis';
    src: url('fonts/Metropolis-Regular.otf');
    src: url('fonts/Metropolis-Bold.otf');
    src: url('fonts/Metropolis-Light.otf');
    src: url('fonts/Metropolis-SemiBold.otf');
    
}
body{
    color: #292929;
    background: #fff;
    font-family: "metropolis",sans-serif;
}

.showcase{
    position: relative;
}
.showcase-contents li{
    display: inline-block;
    width: 12%;
    height: 400px;
    cursor: w-resize;
    z-index: 2;
}
.showcase-contents li img{
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: -30;
}
.showcase-contents .item-4 img{
    display: block;
}
.showcase .caption{
    margin-top: -50px;
    font-size: 11px;
    position: relative;
}
.showcase .caption::before{
    content: '\f079';
    font-family: FontAwesome;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: -17px;
    left: 49%;
}
.separetor{
    height: 120px;
    width: 1px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #b4b4b4;
}
.product-1, .product-2, .product-3, .product-4{
    width: 100px;
    cursor: pointer;
}
.product-1, .product-2, .product-3, .product-4 p, .grey p, .grey-polarized p{
    font-size: 11px;
    line-height: 12px;
    letter-spacing: 1px;
    color: #292929;
    font-weight: 500;
}
.lens-border{
    border: 2px solid #ddd;
    padding: 2px;
    transition: all 0.2s;
}
.product-title{
    font-size: 12px;
    letter-spacing: 3px;
    line-height: 13px;
}

.shop h2{
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #292929;
    font-weight: normal;
}
.shop .name{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 11px;
}
.shop .price{
    font-size: 28px;
    color: #292929;
}
.shop a.cart-button{
    text-decoration: none;
    width: 100%;
    background: #ccab4f;
    padding: 5% 30%;
    font-size: 12px;
    color: #fff;
    font-weight: lighter;
    transition: all 0.3s;
    letter-spacing: 1px;
}
.shop a.cart-button:hover{
    background: #383631;
}
.selling-point{
    border-right: 1px solid #ccc;
    height: 70px;
    width: 200px;
}
.selling-point a{
    color: #292929;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    text-decoration: none;
    transition: all 0.3s;
}
.selling-point a i{
    border: 1px solid #3a3a3a;
    border-radius: 50%;
    line-height: 16px;
    font-size: 15px;
    padding: 4px;
    transition: all 0.3s;
}
.selling-point a:hover{
    color: #ccab4f;
}
.selling-point a:hover i{
    border: 1px solid #ccab4f;
}
#features{
    background: #f8f9f7;
}
.product-about p{
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 3px;
    color: #292929;
}
.product-about small{
    font-size: 10px;
    line-height: 11px;
    letter-spacing: 3px;
    color: #292929;
}
.product-about h2{
    font-size: 44px;
    text-align: center;
    font-weight: normal;
    margin-top: 0;
    line-height: 50px;
    font-family: 'Playfair Display', serif;
}
.product-about .nav-item .active{
    border-bottom: 1px solid #292929;
    
}
.product-about .nav-item a.tab-link{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: bold;
    margin-right: 40px;
    color: #292929;
    text-decoration: none;
    transition: all 0.2s;
}
.nav .nav-item a.tab-link:hover{
    color: #b4b4b4;
}
.tab-content{
    height: 220px;
}
.feature{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0;
    font-family: 'Playfair Display', serif;
}
.description h3{
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: 14px;
    font-weight: bold;
}
.description p{
    letter-spacing: 0.1em;
    font-size: 15px;
    line-height: 23px;
    letter-spacing: 0;
    font-family: 'Playfair Display', serif;
}
.carousel-control-next, .carousel-control-prev{
    width: 6%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgb(158, 156, 156);
    padding: 10px 17px;
}
.model{
    position: relative;
}
.model .expand svg{
    position: absolute;
    bottom: 3%;
    right: 3%;
    cursor: pointer;
}
.full-screen-slider{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 99;
}
.full-screen-slider .close-slider{
    position: fixed;
    color: rgb(136, 136, 136);
    top: -5%;
    right: 0%;
    z-index: 3;
    font-weight: lighter;
    font-size: 120px;
    line-height: 120px;
    cursor: pointer;
}
.full-screen-slider .frist-slide{
    background: url('../img/canby1_869c360b-fa40-4545-b1aa-f3d71c513912_1050x.progressive.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.full-screen-slider .second-slide{
    background: url('../img/canby2_fcf25c9d-92a1-443b-bbea-e4360c2d82a1_1050x.progressive.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

.tooltips{
    position: relative;
    height: 450px;
}
.tooltips1, .tooltips2, .tooltips3, .tooltips4{
    position: absolute;
}
.circle-1, .circle-2, .circle-3, .circle-4{
    width: 35px;
    height: 35px;
    background: rgb(221, 221, 221);
    border-radius: 35px;
    cursor: pointer;
    animation: animate 3s linear infinite;
    z-index: 3;
}
.tooltips1{
    top: 50%;
    left: 5%;
}
/* .tooltips1:hover .plus{
    transform: rotate(90deg);
} */
.minus{
    height: 2px;
    width: 20px;
    background: #292929;
    position: absolute;
    top: 50%;
    left: 20%;
    cursor: pointer
}
.plus{
    height: 20px;
    width: 2px;
    background: #292929;
    position: absolute;
    top: 22%;
    left: 46%;
    transition: all 0.3s;
    cursor: pointer;
}
.tooltips2{ 
    top: 26%;
    left: 38%;
}
.tooltips3{
    top: 25%;
    left: 70%;
}
.tooltips4{
    top: 65%;
    left: 70%;
}

.tooltips img{
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
}
.tooltips p{
    font-size: 16px;
    line-height: 18px;
    font-weight: lighter;
}
.tooltip-text-1, .tooltip-text-2, .tooltip-text-3, .tooltip-text-4{
    position: absolute;
    width: 200px;
    background: rgb(236, 236, 236);
    display: none;
    top: -180px;
    left: -83px;
    animation: fade-in-bottom 0.3s linear both;
}
.tooltip-text-1::after, .tooltip-text-2::after, .tooltip-text-3::after, .tooltip-text-4::after{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
    background: rgb(236, 236, 236);
    bottom: -10px;
    left: 45%;
    
}

.material-text h2{
    font-size: 46px;
    line-height: 51px;
    letter-spacing: 0;
    color: #292929;
    font-family: 'Playfair Display', serif;
}
.material-text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: lighter;
}
.material-text a{
    font-size: 17px;
    line-height: 24px;
    letter-spacing: 2px;
    color: #ccab4f;
    font-weight: bold;
    text-decoration: none;
    position: relative;
    transition: all 0.3s;
}
.material-text a:hover{
    color: #383631;
}
.material-text a::before{
    content: '\f107';
    font-family: FontAwesome;
    font-size: 26px;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    position: absolute;
    top: 100%;
    margin-top: 5px;
    left: 50%;
}

#process{
    background: #F8F8F7;
}
.process-left h3{
    font-size: 44px;
    font-family: 'Playfair Display', serif;
}
.process-left p.stat-title{
    font-size: 16px;
    letter-spacing: 4px;
}
.count{
    font-size: 80px;
    line-height: 90px;
    font-family: 'Pathway Gothic One', sans-serif;
}
.process-video{
    position: relative;
}
.process-link{
    font-size: 15px;
    letter-spacing: 1px;
    position: absolute;
    bottom: 3.5%;
    right: 0;
    font-weight: bold;
    color: #ccab4f;
    background: #ffffff;
    padding: 20px;
    transition: all 0.3s;
}
.process-link:hover{
    color: #292929;
    background-color: #F8F8F7;
    text-decoration: none;
}
/* responsive CSS */

@media only screen and (max-width: 768px) {
    .showcase-contents li{
        height: 250px;
    }
    .process-left h3{
        font-size: 30px;
    }
    .tooltips{
        height: 350px;
    }
  
    .count {
        font-size: 50px;
    }
    .material-text h2{
        font-size: 40px;
    }
    .tab-content{
        height: 280px;
    }
}

@media only screen and (max-width: 425px) {
    .tooltips{
        height: 200px;
    } 
    .showcase-contents li{
        height: 170px;
    }
}
/* animation for tolltips button*/
@keyframes animate {
    0%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7), 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    40%{
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 0 rgba(255, 255, 255, 0.7);
    }
    80%{
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0), 0 0 0 15px rgba(255, 255, 255, 0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0), 0 0 0 15px rgba(255, 255, 255, 0);
    }
}
@keyframes fade-in-bottom{
    0% {
        opacity:0;
        transform:  translate(0px,40px)  ;
    }
    100% {
        opacity:1;
        transform:  translate(0px,0px)  ;
    }
}
/* limon */